.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    gap: 1rem;
    max-width: 800px;
  }
  
  .modal img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  
  .modal button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .modal h2 {
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: bold;
  }
  .description {
    font-size: 14px;
    margin: 10px 0;
    color: #333;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
  }
  
